@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.chat__lab__font {
  font-family: "Bebas Neue", cursive;
}

/* Dark Mode */
html[data-theme="dark"] {
  filter: invert(1) hue-rotate(180deg);
  transition: color 500ms;
  transition: filter 500ms;
}
/* have images remain normal on dark mode */
html[data-theme="dark"] img {
  filter: invert(1) hue-rotate(180deg);
  transition: color 500ms;
  transition: filter 500ms;
}

/* Light Mode */
html[data-theme="light"] {
  filter: invert(0) hue-rotate(0deg);
  transition: color 500ms;
  transition: filter 500ms;
}
